<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cd.zjyf.mapper.YlfwJsdjMapper" >
    <resultMap id="BaseResultMap" type="com.cd.zjyf.bean.YlfwJsdj" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="CSDID" property="csdid" jdbcType="VARCHAR" />
        <result column="ZCDID" property="zcdid" jdbcType="VARCHAR" />
        <result column="JSTIME" property="jstime" />
        <result column="LX" property="lx" jdbcType="VARCHAR" />
        <result column="SL" property="sl" jdbcType="DECIMAL" />
        <result column="ZL" property="zl" jdbcType="DECIMAL" />
        <result column="JSQK" property="jsqk" jdbcType="VARCHAR" />
        <result column="JJLY" property="jjly" jdbcType="VARCHAR" />
        <result column="ENDTIME" property="endtime" />
        <result column="QSRID" property="qsrid" jdbcType="VARCHAR" />
        <result column="TGZID" property="tgzid" jdbcType="VARCHAR" />
        <result column="JSRID" property="jsrid" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    ID, CSDID, ZCDID, JSTIME, LX, SL, ZL, JSQK, JJLY, ENDTIME, QSRID, TGZID, JSRID
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cd.zjyf.bean.YlfwJsdjExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from TBL_YLFW_JSDJ
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from TBL_YLFW_JSDJ
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--提供者统计-->
    <select id="selectTGZstatisticsFW" resultType="com.cd.zjyf.pojo.qr.TGZstatisticsFWQR" parameterType="com.cd.zjyf.pojo.qc.TGZstatisticsFWQC" >
        select nvl(lx,'总计') as lx,count(*) as cs,sum(zl) as zl  FROM TBL_YLFW_JSDJ
        where tgzid=#{id}
        <if test="	starttime!=null and starttime!=''">
            <![CDATA[and To_char(jstime,'yyyy-mm-dd hh24:mi:ss')>=#{starttime} ]]>
        </if>
        <if test="	endtime!=null and endtime!=''">
            <![CDATA[ and To_char(jstime,'yyyy-mm-dd hh24:mi:ss')<= #{endtime} ]]>
        </if>
        <![CDATA[
	group  by  rollup(lx)
	]]>
    </select>

    <!-- 收集历史信息详情查询 -->
    <select id="selectTGZhistoryInfo" resultType="com.cd.zjyf.pojo.qr.SJZqueryByQRcodeQR" parameterType="java.lang.String" >
  	select t.*,t1.DWMC as zcdmc ,fun_csdmc2(t2.id) as csdmc,t3.xm as tgzxm  from tbl_ylfw_jsdj t
left join tbl_ylws_jbxx t1 on t.zcdid=t1.id 
left join tbl_ylws_jbxx t2 on t.csdid=t2.id 
left join tbl_app_user t3 on t.tgzid=t3.id
where t.id=#{id} 
  </select>

    <!-- 收集历史信息列表条件查询 -->
    <select id="selectTGZhistoryList" resultType="com.cd.zjyf.pojo.qr.SJZqueryByQRcodeQR" parameterType="com.cd.zjyf.pojo.qc.SJZhistoryListQC" >
        select t.*,t1.DWMC as zcdmc ,fun_csdmc2(t2.id) as csdmc,t3.xm as tgzxm  from tbl_ylfw_jsdj t
        left join tbl_ylws_jbxx t1 on t.zcdid=t1.id
        left join tbl_ylws_jbxx t2 on t.csdid=t2.id
        left join tbl_app_user t3 on t.tgzid=t3.id
        where  jsrid=#{jsrid}
        <if test="	csdid!=null and csdid!=''">
            and csdid=#{csdid}
        </if>
        <if test="	lx!=null and lx!=''">
            and lx=#{lx}
        </if>
        <if test="	jssjStart!=null and jssjStart!=''">
            <![CDATA[and To_char(jstime,'yyyy-mm-dd hh24:mi:ss')>=#{jssjStart} ]]>
        </if>
        <if test="	jssjEnd!=null and jssjEnd!=''">
            <![CDATA[ and To_char(jstime,'yyyy-mm-dd hh24:mi:ss')<= #{jssjEnd} ]]>
        </if>
        order by jstime desc
    </select>

    <select id="selectTGZindex" resultType="com.cd.zjyf.pojo.YlfwJsdj" parameterType="string" >
	select * from tbl_ylfw_jsdj where tgzid=#{id} order by jstime desc
  </select>

    <!--收集者首页，返回的单位未处理
     <select id="selectSJZindex" resultType="com.cd.zjyf.pojo.qr.SJZindexQR" parameterType="string" >
        select fun_csdmc2(csdid) as csdmc,max(jstime) as jstime from tbl_ylfw_jsdj where jsrid=#{id}
        group by csdid order by jstime asc
      </select>
      -->

    <!-- 收集者首页，返回的单位未处理 -->
    <select id="selectSJZindex" resultType="com.cd.zjyf.pojo.qr.SJZindexQR" parameterType="string" >
	  select DISTINCT fun_csdmc2(csdid) as csdmc,jstime,xm as tgzxm from
  (
    select * from  tbl_ylfw_jsdj  where (jsrid,jstime) in
    (
    select #{id},max(jstime) as jstime from tbl_ylfw_jsdj t where jsrid=#{id}
    group by csdid 
    )
  )t 
    left join tbl_app_user t1 on t.tgzid=t1.id
    order by jstime asc
  </select>

    <!-- 运输者首页(用于展示暂存点废物列表、用户信息。暂存点废物列表按结算时间从远到近排序。) -->
    <!-- 用两次group来确定清算次数，次数根据清算时间 -->
    <select id="selectYSZindex" resultType="com.cd.zjyf.pojo.qr.YSZindexQR" parameterType="string" >
   select t.*,t1.dwmc  as zcdmc from (
   select zcdid,sum(jszl) as jszl,max(ENDTIME) as endtime,count(*) as jscs from (
  	select zcdid ,sum(zl) as jszl,max(ENDTIME) as endtime  from tbl_ylfw_jsdj where qsrid=#{id}  and jsqk='1'
	  group by zcdid,endtime
   ) group by zcdid order by endtime asc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
   ) t 
   left join tbl_ylws_jbxx t1 
   on t.zcdid=t1.id
 </select>

    <!-- 运输者首页点每条进去的列表根据接收次数（接收时间）分组  !注：接收情况和接收人已被运输者首页获取到的暂存点id过滤掉，此时不用加上jsqk='1' and qsrid=''-->
    <select id="selectYSZindexDetailList" resultType="com.cd.zjyf.pojo.qr.YSZindexQR" parameterType="com.cd.zjyf.pojo.qc.YSZDetailQC" >
select fun_csdmc2(#{id}) as zcdmc,
       sum(zl) as jszl,
      endtime as jstime
  from tbl_ylfw_jsdj
 where zcdid = #{id}
  and qsrid=#{qsrid}  
 and jsqk='1'
 group by endtime
 order by endtime desc
 </select>



    <!-- 管理者首页-->
    <select id="selectGLZindex" resultType="com.cd.zjyf.pojo.qr.GLZindexQR" parameterType="string" >
  select t.*,t1.dwmc  as zcdmc from (
  	select zcdid ,max(jstime) as zjjssj  from tbl_ylfw_jsdj where jsqk='1' and csdid
      in (select t1.id from tbl_app_user t left join tbl_ylws_jbxx t1 on
          t.JGDWID =t1.JGDWID where t.id=#{id} )
   group by zcdid 
   order by zjjssj asc
   ) t 
   left join tbl_ylws_jbxx t1 
   on t.zcdid=t1.id
 </select>

    <!-- 管理者首页及条件查询长期未接受（暂定超过3天算未接收） -->
    <!--
     <select id="selectGLZnocollect" resultType="com.cd.zjyf.pojo.qr.GLZdwnocollectQR" parameterType="com.cd.zjyf.pojo.qc.GLZdwnocollectQC" >
     select fun_csdmc2(csdid) as dwmc,max(jstime) acceptTime from tbl_ylfw_jsdj
     where zcdid in (
     select id from tbl_ylws_jbxx  where DWDZBM like #{xzqh}||'%'
      <if test="zcdid!=null and zcdid!=''">
         and id=#{zcdid}
     </if>
     )
     group by csdid
     having
     sysdate-max(jstime)>3
      </select>-->
    <select id="selectGLZnocollect" resultType="com.cd.zjyf.pojo.qr.GLZdwnocollectQR" parameterType="com.cd.zjyf.pojo.qc.GLZdwnocollectQC" >
        select fun_csdmc2(csdid) as dwmc,max(jstime) acceptTime from tbl_ylfw_jsdj t
        left join tbl_ylws_jbxx t1 on t.csdid=t1.id
        left join tbl_jgdw_jbxx t2 on t1.jgdwid=t2.id
        where xzqh like #{xzqh}||'%'
        <if test="zcdid!=null and zcdid!=''">
            and t.zcdid=#{zcdid}
        </if>
        group by csdid
        having
        sysdate-max(jstime)>3
    </select>


    <!-- 管理者查询的单位下拉 -->
    <!--  <select id="getZcdlist" resultType="com.cd.zjyf.pojo.qr.GLZzcdlistQR" parameterType="string" >
        select id,dwmc from tbl_ylws_jbxx where  DWDZBM like #{xzqh}||'%'  and yljgtype='1'
     </select>-->
    <select id="getZcdlist" resultType="com.cd.zjyf.pojo.qr.GLZzcdlistQR" parameterType="string" >
        select id,dwmc from tbl_ylws_jbxx where  jgdwid in(select id from tbl_jgdw_jbxx where xzqh like #{xzqh}||'%' )  and yljgtype='1'
    </select>



    <!-- 管理者拒收列表 -->
    <select id="selectGLZrefuseList" resultType="com.cd.zjyf.pojo.qr.GLZrefuseQR" parameterType="string" >
   
select t.*, t1.dwmc
  from (select zcdid, jjly, id, endtime, zl, lx
          from tbl_ylfw_jsdj
         where jsqk = '2'
           and csdid in (select t1.id from tbl_app_user t left join tbl_ylws_jbxx t1 on
          t.JGDWID =t1.JGDWID where t.id=#{id})
                          ) t
  left join tbl_ylws_jbxx t1
    on t.zcdid = t1.id
    order by endtime desc
  </select>

    <!-- 统计该暂存点下所有产生点分组的接收情况 (新增了一个qsrxm)-->
    <select id="selectSummaryCSD" resultType="com.cd.zjyf.pojo.qr.SummaryByQRcodeQR" parameterType="com.cd.zjyf.pojo.qc.SJZSummaryQC" >
 	select fun_csdmc2(t.csdid) as csdmc,t.*,t1.*,t2.*,t3.*,t4.*,t5.* from(
   select count(*) as jscs,csdid ,sum(jszl) jszl,sum(jssl) jssl ,fun_name(max(qsrid)) qsrxm from 
   (
   select csdid,sum(zl) jszl,sum(sl) jssl,max(qsrid) qsrid  from tbl_ylfw_jsdj where zcdid=#{id} and jsqk=#{jsqk}  group by csdid,jstime
   ) 
   group by csdid
   ) t
left join
(
 select csdid,sum(zl) ssxfwzl,sum(sl) ssxfwsl   from tbl_ylfw_jsdj where zcdid=#{id} and jsqk=#{jsqk} and lx='01' group by csdid
) t1
on t.csdid=t1.csdid
left join
(
 select csdid,sum(zl) grxfwzl,sum(sl) grxfwsl   from tbl_ylfw_jsdj where zcdid=#{id} and jsqk=#{jsqk} and lx='02' group by csdid
) t2
on t.csdid=t2.csdid
left join
(
 select csdid,sum(zl) blxfwzl,sum(sl) blxfwsl   from tbl_ylfw_jsdj where zcdid=#{id} and jsqk=#{jsqk} and lx='03' group by csdid
) t3
on t.csdid=t3.csdid
left join
(
 select csdid,sum(zl) ywxfwzl,sum(sl) ywxfwsl   from tbl_ylfw_jsdj where zcdid=#{id} and jsqk=#{jsqk} and lx='04' group by csdid
) t4
on t.csdid=t4.csdid
left join
(
 select csdid,sum(zl) hxxfwzl,sum(sl) hxxfwsl   from tbl_ylfw_jsdj where zcdid=#{id} and jsqk=#{jsqk} and lx='05' group by csdid
) t5
on t.csdid=t5.csdid
 
 </select>

    <!-- 统计该暂存点的接收情况 (有不唯一的情况左联？所以最好通过主键去左联)好吧，是我想太多了，其实以前的统计也是可以的，不用按时间排序的，因为每种类型都要扫一次-->
    <select id="selectSummaryZCD" resultType="com.cd.zjyf.pojo.qr.SummaryByQRcodeQR" parameterType="string" >
 select (select dwmc from tbl_ylws_jbxx where id=#{zcdid}) as zcdmc,t.jssl,t.*,t1.*,t2.*,t3.*,t4.*,t5.*,t6.* from(
 select #{zcdid} as csdid,sum(zl) jszl,sum(sl) jssl  from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0'
   ) t
left join
(
 select #{zcdid} as csdid,sum(zl) ssxfwzl,sum(sl) ssxfwsl   from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0' and lx='01' 
) t1
on t.csdid=t1.csdid
left join
(
 select #{zcdid} as csdid,sum(zl) grxfwzl,sum(sl) grxfwsl   from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0' and lx='02' 
) t2
on t.csdid=t2.csdid
left join
(
 select #{zcdid} as csdid,sum(zl) blxfwzl,sum(sl) blxfwsl   from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0' and lx='03' 
) t3
on t.csdid=t3.csdid
left join
(
 select #{zcdid} as csdid,sum(zl) ywxfwzl,sum(sl) ywxfwsl   from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0' and lx='04' 
) t4
on t.csdid=t4.csdid
left join
(
 select #{zcdid} as csdid,sum(zl) hxxfwzl,sum(sl) hxxfwsl   from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0' and lx='05' 
) t5
on t.csdid=t5.csdid
left join
(
select #{zcdid} as csdid,sum(jscs) as jscs
from
(
  select count(*) as jscs,csdid ,sum(jszl) jszl,sum(jssl) jssl from 
   (
   select csdid,sum(zl) jszl,sum(sl) jssl  from tbl_ylfw_jsdj where zcdid=#{zcdid} and jsqk='0'  group by csdid,jstime
   ) 
   group by csdid
   )
)t6 --这个是查产生点的接收总次数用的
on t.csdid=t6.csdid
 </select>

    <sql id="funRount">
        <if test="bmjb=='1'">fun_tocity</if>
        <if test="bmjb=='2'">fun_toarea</if>
    </sql>

    <!-- 管理者按市、按县、按街道统计合并（通过机构级别区分） -->
    <select id="selectGLZstatistics" resultType="com.cd.zjyf.pojo.qr.GLZstatisticsQR" parameterType="com.cd.zjyf.pojo.qc.GLZstatisticsQC" >
        select * from (
        select <include refid="funRount"/>(xzqh) as xzqh, sum(zl) as zl
        from tbl_ylfw_jsdj t
        left join tbl_ylws_jbxx t1
        on t.zcdid = t1.id
        left join tbl_jgdw_jbxx t2 on t1.jgdwid=t2.id
        where xzqh like #{xzqh}||'%'
        and t.jsqk = '1'
        <if test="	endtimeBegin!=null and endtimeBegin!=''">
            <![CDATA[and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')>=#{endtimeBegin} ]]>
        </if>
        <if test="	endtimeEnd!=null and endtimeEnd!=''">
            <![CDATA[ and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')<= #{endtimeEnd} ]]>
        </if>
        group by <include refid="funRount"/>(xzqh)
        ) t
        left join tbl_areainfo t1 on t.xzqh = t1.code
    </select>


    <!--按市统计-->
    <select id="selectGLZstatisticsForCity" resultType="com.cd.zjyf.pojo.qr.GLZstatisticsQR" parameterType="com.cd.zjyf.pojo.qc.GLZstatisticsQC" >
        select * from (
        select fun_tocity(DWDZBM) as xzqh,sum(zl)as zl from tbl_ylfw_jsdj t
        left join tbl_ylws_jbxx  t1 on t.csdid=t1.id
        where DWDZBM like #{xzqh}||'%' and t.jsqk='1'
        <if test="	endtimeBegin!=null and endtimeBegin!=''">
            <![CDATA[and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')>=#{endtimeBegin} ]]>
        </if>
        <if test="	endtimeEnd!=null and endtimeEnd!=''">
            <![CDATA[ and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')<= #{endtimeEnd} ]]>
        </if>
        group by fun_tocity(DWDZBM)
        ) t
        left join tbl_areainfo t1 on t.xzqh = t1.code
    </select>

    <!-- 管理者按县统计 -->
    <select id="selectGLZstatisticsForArea" resultType="com.cd.zjyf.pojo.qr.GLZstatisticsQR" parameterType="com.cd.zjyf.pojo.qc.GLZstatisticsQC" >
        select * from (
        select fun_toarea(DWDZBM) as xzqh,sum(zl)as zl from tbl_ylfw_jsdj t
        left join tbl_ylws_jbxx  t1 on t.csdid=t1.id
        where DWDZBM like #{xzqh}||'%' and t.jsqk='1'
        <if test="	endtimeBegin!=null and endtimeBegin!=''">
            <![CDATA[and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')>=#{endtimeBegin} ]]>
        </if>
        <if test="	endtimeEnd!=null and endtimeEnd!=''">
            <![CDATA[ and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')<= #{endtimeEnd} ]]>
        </if>
        group by fun_toarea(DWDZBM)
        ) t
        left join tbl_areainfo t1 on t.xzqh = t1.code
    </select>


    <!-- 管理者按街道统计 -->
    <select id="selectGLZstatisticsForXian" resultType="com.cd.zjyf.pojo.qr.GLZstatisticsQR" parameterType="com.cd.zjyf.pojo.qc.GLZstatisticsQC" >
        select * from (
        select DWDZBM as xzqh,sum(zl)as zl from tbl_ylfw_jsdj t
        left join tbl_ylws_jbxx  t1 on t.csdid=t1.id
        where DWDZBM like #{xzqh}||'%' and t.jsqk='1'
        <if test="	endtimeBegin!=null and endtimeBegin!=''">
            <![CDATA[and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')>=#{endtimeBegin} ]]>
        </if>
        <if test="	endtimeEnd!=null and endtimeEnd!=''">
            <![CDATA[ and To_char(endtime,'yyyy-mm-dd hh24:mi:ss')<= #{endtimeEnd} ]]>
        </if>
        group by DWDZBM
        ) t
        left join tbl_areainfo t1 on t.xzqh = t1.code
    </select>



    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TBL_YLFW_JSDJ
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.cd.zjyf.bean.YlfwJsdjExample" >
        delete from TBL_YLFW_JSDJ
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.cd.zjyf.bean.YlfwJsdj">
        <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">
            select sys_guid() as id from dual
        </selectKey>
        insert into TBL_YLFW_JSDJ (ID, CSDID, ZCDID,
        JSTIME, LX, SL, ZL,
        JSQK, JJLY, ENDTIME, QSRID,
        TGZID, JSRID)
        values (#{id,jdbcType=VARCHAR}, #{csdid,jdbcType=VARCHAR}, #{zcdid,jdbcType=VARCHAR},
        #{jstime}, #{lx,jdbcType=VARCHAR}, #{sl,jdbcType=DECIMAL}, #{zl,jdbcType=DECIMAL},
        #{jsqk,jdbcType=VARCHAR}, #{jjly,jdbcType=VARCHAR}, #{endtime}, #{qsrid,jdbcType=VARCHAR},
        #{tgzid,jdbcType=VARCHAR}, #{jsrid,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.cd.zjyf.bean.YlfwJsdj" >
        insert into TBL_YLFW_JSDJ
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="csdid != null" >
                CSDID,
            </if>
            <if test="zcdid != null" >
                ZCDID,
            </if>
            <if test="jstime != null" >
                JSTIME,
            </if>
            <if test="lx != null" >
                LX,
            </if>
            <if test="sl != null" >
                SL,
            </if>
            <if test="zl != null" >
                ZL,
            </if>
            <if test="jsqk != null" >
                JSQK,
            </if>
            <if test="jjly != null" >
                JJLY,
            </if>
            <if test="endtime != null" >
                ENDTIME,
            </if>
            <if test="qsrid != null" >
                QSRID,
            </if>
            <if test="tgzid != null" >
                TGZID,
            </if>
            <if test="jsrid != null" >
                JSRID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="csdid != null" >
                #{csdid,jdbcType=VARCHAR},
            </if>
            <if test="zcdid != null" >
                #{zcdid,jdbcType=VARCHAR},
            </if>
            <if test="jstime != null" >
                #{jstime},
            </if>
            <if test="lx != null" >
                #{lx,jdbcType=VARCHAR},
            </if>
            <if test="sl != null" >
                #{sl,jdbcType=DECIMAL},
            </if>
            <if test="zl != null" >
                #{zl,jdbcType=DECIMAL},
            </if>
            <if test="jsqk != null" >
                #{jsqk,jdbcType=VARCHAR},
            </if>
            <if test="jjly != null" >
                #{jjly,jdbcType=VARCHAR},
            </if>
            <if test="endtime != null" >
                #{endtime},
            </if>
            <if test="qsrid != null" >
                #{qsrid,jdbcType=VARCHAR},
            </if>
            <if test="tgzid != null" >
                #{tgzid,jdbcType=VARCHAR},
            </if>
            <if test="jsrid != null" >
                #{jsrid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cd.zjyf.bean.YlfwJsdjExample" resultType="java.lang.Integer" >
        select count(*) from TBL_YLFW_JSDJ
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update TBL_YLFW_JSDJ
        <set >
            <if test="record.id != null" >
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.csdid != null" >
                CSDID = #{record.csdid,jdbcType=VARCHAR},
            </if>
            <if test="record.zcdid != null" >
                ZCDID = #{record.zcdid,jdbcType=VARCHAR},
            </if>
            <if test="record.jstime != null" >
                JSTIME = #{record.jstime},
            </if>
            <if test="record.lx != null" >
                LX = #{record.lx,jdbcType=VARCHAR},
            </if>
            <if test="record.sl != null" >
                SL = #{record.sl,jdbcType=DECIMAL},
            </if>
            <if test="record.zl != null" >
                ZL = #{record.zl,jdbcType=DECIMAL},
            </if>
            <if test="record.jsqk != null" >
                JSQK = #{record.jsqk,jdbcType=VARCHAR},
            </if>
            <if test="record.jjly != null" >
                JJLY = #{record.jjly,jdbcType=VARCHAR},
            </if>
            <if test="record.endtime != null" >
                ENDTIME = #{record.endtime},
            </if>
            <if test="record.qsrid != null" >
                QSRID = #{record.qsrid,jdbcType=VARCHAR},
            </if>
            <if test="record.tgzid != null" >
                TGZID = #{record.tgzid,jdbcType=VARCHAR},
            </if>
            <if test="record.jsrid != null" >
                JSRID = #{record.jsrid,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update TBL_YLFW_JSDJ
        set ID = #{record.id,jdbcType=VARCHAR},
        CSDID = #{record.csdid,jdbcType=VARCHAR},
        ZCDID = #{record.zcdid,jdbcType=VARCHAR},
        JSTIME = #{record.jstime},
        LX = #{record.lx,jdbcType=VARCHAR},
        SL = #{record.sl,jdbcType=DECIMAL},
        ZL = #{record.zl,jdbcType=DECIMAL},
        JSQK = #{record.jsqk,jdbcType=VARCHAR},
        JJLY = #{record.jjly,jdbcType=VARCHAR},
        ENDTIME = #{record.endtime},
        QSRID = #{record.qsrid,jdbcType=VARCHAR},
        TGZID = #{record.tgzid,jdbcType=VARCHAR},
        JSRID = #{record.jsrid,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cd.zjyf.bean.YlfwJsdj" >
        update TBL_YLFW_JSDJ
        <set >
            <if test="csdid != null" >
                CSDID = #{csdid,jdbcType=VARCHAR},
            </if>
            <if test="zcdid != null" >
                ZCDID = #{zcdid,jdbcType=VARCHAR},
            </if>
            <if test="jstime != null" >
                JSTIME = #{jstime},
            </if>
            <if test="lx != null" >
                LX = #{lx,jdbcType=VARCHAR},
            </if>
            <if test="sl != null" >
                SL = #{sl,jdbcType=DECIMAL},
            </if>
            <if test="zl != null" >
                ZL = #{zl,jdbcType=DECIMAL},
            </if>
            <if test="jsqk != null" >
                JSQK = #{jsqk,jdbcType=VARCHAR},
            </if>
            <if test="jjly != null" >
                JJLY = #{jjly,jdbcType=VARCHAR},
            </if>
            <if test="endtime != null" >
                ENDTIME = #{endtime},
            </if>
            <if test="qsrid != null" >
                QSRID = #{qsrid,jdbcType=VARCHAR},
            </if>
            <if test="tgzid != null" >
                TGZID = #{tgzid,jdbcType=VARCHAR},
            </if>
            <if test="jsrid != null" >
                JSRID = #{jsrid,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cd.zjyf.bean.YlfwJsdj" >
    update TBL_YLFW_JSDJ
    set CSDID = #{csdid,jdbcType=VARCHAR},
      ZCDID = #{zcdid,jdbcType=VARCHAR},
      JSTIME = #{jstime},
      LX = #{lx,jdbcType=VARCHAR},
      SL = #{sl,jdbcType=DECIMAL},
      ZL = #{zl,jdbcType=DECIMAL},
      JSQK = #{jsqk,jdbcType=VARCHAR},
      JJLY = #{jjly,jdbcType=VARCHAR},
      ENDTIME = #{endtime},
      QSRID = #{qsrid,jdbcType=VARCHAR},
      TGZID = #{tgzid,jdbcType=VARCHAR},
      JSRID = #{jsrid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>